<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/index.css" />

    <title>Tecido</title>
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <div class="icon">
          <h2 class="logo">TECIDO</h2>
        </div>
        <div class="menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contactus">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <div class="flex-container">
        <div class="content">
          <h2>
            Welcome to Tecido !<br /><span style="margin-top: 3rem"
              >Organise Today, Sustain Tomorrow
            </span>
          </h2>
          <p class="par" style="margin-top: 3rem">
            Effortlessly manage your wardrobe and embrace sustainable living
            with Tecido. Unlock the potential of your clothing collection while
            making mindful, eco-friendly choices.<br />
            <br />Say goodbye to Clutter!
          </p>

          <button class="cn" style="margin-top: 3rem">
            <a href="/signup">Join Us</a>
          </button>
        </div>

        <div class="homeicon">
          <img src="/static/homepage.png" alt="" />
        </div>
      </div>
    </div>

    <h2 class="Whyustitle" style="color: white">Why Us</h2>
    <div class="whyus">
      <div class="card why1">
        <h3>1. Efficient Organization</h3>
        <span> "Streamline your wardrobe with ease." </span>
        <p>
          Our platform helps you manage your personal items effortlessly,
          offering a clear, clutter-free view of your possessions, so you can
          find what you need in seconds.
        </p>
      </div>
      <div class="card why2">
        <h3>2. Sustainable Living</h3>
        <span> "Make mindful choices for a greener future." </span>
        <p>
          Tecido promotes sustainability by encouraging thoughtful wardrobe
          management and reducing unnecessary consumption.
        </p>
      </div>
      <div class="card why3">
        <h3>3. Easy to Use</h3>
        <span> "User-friendly interface for seamless experience." </span>
        <p>
          Enjoy a smooth and intuitive experience with Tecido's easy-to-navigate
          platform, designed with you in mind.
        </p>
      </div>
      <div class="card why4">
        <h3>4. Save Time and Money</h3>
        <span> "Unlock the full potential of your wardrobe." </span>
        <p>
          Organize smarter, save time, and avoid purchasing items you don't
          need, all while managing your wardrobe efficiently.
        </p>
      </div>
    </div>

    <h2 class="Whyustitle" style="color: white">What We Do</h2>
    <div class="whyus">
      <div class="card why1">
        <h3>1. Simplify Item Management</h3>
        <span> "Keep track of every item in your wardrobe." </span>
        <p>
          Our platform makes it easy to catalog and organize your belongings,
          ensuring you never lose sight of your favorite items or buy
          duplicates.
        </p>
      </div>
      <div class="card why2">
        <h3>Promote Mindful Consumption</h3>
        <span> Encourage thoughtful shopping habits." </span>
        <p>
          We help you make informed purchasing decisions by showing how often
          you use items, reducing waste and promoting sustainable choices.
        </p>
      </div>
      <div class="card why3">
        <h3>Support Sustainable Living</h3>
        <span>Take steps toward a greener lifestyle.</span>
        <p>
          We provide insights into how your lifestyle choices impact the
          environment, guiding you toward eco-friendly habits and reducing your
          carbon footprint.
        </p>
      </div>
    </div>
    <!-- <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script> -->
  </body>
</html>
