<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/index.css">

    <title>Tecido</title>
</head>
<body>
    <div class="main">
        <div class="navbar">
         <div class="icon">
           <h2 class="logo">TECIDO</h2>
         </div>
         <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </div>

    </div> 

    <div class="flex-container">
     <div class="content">
        <h2>Welcome to Tecido !<br><span style="margin-top: 3rem;">Organise Today, Sustain Tomorrow </span></h2>
        <p class="par" style="margin-top: 3rem;">Effortlessly manage your wardrobe and embrace sustainable living with Tecido. <br> Unlock the potential of your clothing collection while making mindful, <br> eco-friendly choices. Say goodbye to clutter!</p>

            <button class="cn"><a href="/signup">Join Us</a></button>
        </div>

        <div class="homeicon">
            <img src="/static/homepage.png" alt="">
        </div>
               
    </div>
</div>
</div>
<!-- <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script> -->
</body>
</html>
   